@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: #464545;

  -webkit-font-smoothing: antialiased;
}

h1, h2 {
    color: #888888;
}

table th {
    color: #888888;
}

/** LOGO **/
.logo {
    padding: 2em 0 3em 5em;
}
.logo img {
    margin-top: -17px;
    width: 50px;
    display: inline;
}
.logo h1 {
    padding-left: .3em;
    font-size: 2em;
    display: inline;
}
.logo span {
    color: #ff925c;
}
